* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 1vh;
  width: 100%;
  background-color: black;
}
div {
  height: 675px;
  width: 400px;
  border-radius: 50px;
  margin: auto;
  margin-top: 75px;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
  border: 1px solid black;
}
article:nth-of-type(1) {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px;
}
article:nth-of-type(2) {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 10px;
}
article {
  margin: 15px;
}
article.important {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.important p:nth-of-type(1) {
  margin-top: auto;
}
.important p:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 1 /3;
}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  background-color: rgba(0, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.261);
  padding: 2px;
}
section {
  transition: 0.1s;
}
button {
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgba(47, 79, 79, 0.471);
  margin-top: 10px;
  transition: 0.1s;
}
button:hover {
  scale: 1.2;
  box-shadow: 0 0 5px black;
}
.grid p {
  text-align: left;
}
.grid span {
  text-align: right;
}
.grid section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 25px;
}
.grid section:nth-of-type(1) {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.grid section:nth-of-type(2) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.grid section:nth-of-type(3) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.grid section:nth-of-type(4) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.grid section:nth-of-type(5) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.grid section:nth-of-type(6) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.grid section:nth-of-type(7) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.grid section:nth-of-type(8) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
input {
  display: block;
  margin: auto;
  width: 75%;
}
.forecast section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 20px;
}
.forecast section:nth-of-type(1) {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px 10px 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.forecast section:nth-of-type(2) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.forecast section:nth-of-type(3) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.forecast section:nth-of-type(4) {
  padding-inline: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}
.forecast section:nth-of-type(5) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
section:hover {
  text-shadow: 0 0 5px white;
  color: rgb(28, 13, 13);
}
#temperatur {
  font-size: 2rem;
  font-weight: 700;
}
.sonne {
  background: url("https://images.unsplash.com/photo-1597316342034-39cb9003f5bf?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.wolkig {
  background: url("https://images.unsplash.com/photo-1531009542811-9d686915c9d7?q=80&w=2835&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.wolkigZwei {
  background: url("https://images.unsplash.com/photo-1600022149576-bfd4c8ac59b5?q=80&w=3015&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.regen {
  background: url("https://images.unsplash.com/photo-1515694346937-94d85e41e6f0?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.gewitter {
  background: url("https://images.unsplash.com/photo-1429552077091-836152271555?q=80&w=2088&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
